

 <h1 id="top" >
		<div id="name">Fake Twitter</div>
 </h1>
 <hr>
 <body id="blah">
 	
  <% if  session[:user_id] = nil %>
 		
 		 <% names =[ "new_user"] %>
 
  <% else %>
 
 		<% names = [ "new_user", "new_post"] %>
  <% end %>

	

	<form method="POST" action="/sign_in">
		<p>
		 <label for="username">Username</label>
		 </p>
		 <p>
		 <input type="text" name="username" required>
	 	 </p>
	 	 <p>
	 	 <label for="password">Password</label>
	 	 </p>
	 	 <p>
	 	 <input type="password" name="password" required>
	 	 </p>
	 	 <p>
	 	 <input type="submit">
	 	 </p>
    </form>

	
	<b>
		<% names.each do |name| %>
			 <p>
   			 	<a  
   			 	href="/<%= name%>" class="btn btn-primary">  <%= name.sub("_", " ")  %> </a>
   			</p>
   		<% end %>

    </b>

     </body>