<h1 id="top">New User</h1>
<body id="blah">
	

<hr>
<form method="POST" action="/create_user" >
  

  <label>email</label>
  <input type="text" name="email">
	
  <label>password</label>
  <input type="text" name="password">
	
  <input type="submit">

</form>

<p>
<a href="/">home</a>
</p>
<a href="/new_profile">Why don't you write a profile?</a>

</body>