<h1 id="name">  
	<div id="top">
		<p ><a href="/">Fake Twitter</a></p>

		New User
	</div>	
</h1>
<body id="blah">
	

<hr>
<form method="POST" action="/create_user" >
  

  <label>email</label>
  <input type="text" name="email" required>
	
  <label>password</label>
  <input type="text" name="password" required>
	
  <input type="submit">

</form>

<p>
<a href="/">home</a>
</p>
 
 <% if  session[:user_id] = nil %>

    

 <a href="/new_profile">Why don't you write a profile?</a>
 <% end %>
</body>